@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'KarlaRegular';
  src: url('./assets/fonts/static/Karla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KarlaBold';
  src: url('./assets/fonts/static/Karla-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KarlaItalic';
  src: url('./assets/fonts/Karla-Italic-VariableFont_wght.ttf') format('truetype');
}

@layer base {
  * {
    @apply font-karla-regular;
  }
  body {
    @apply bg-primary-green-200 text-base text-neutral-grey-900 antialiased;
  }
}

.form-label {
  @apply flex flex-row items-start;
}

.radio-item {
  @apply flex-auto items-center space-x-3 space-y-0 border border-neutral-grey-500 rounded p-2 has-[:checked]:bg-primary-green-200 has-[:checked]:border-primary-green-600;
}
